* {

    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.introduction {
    position: absolute;
    margin-top: 350px;
    margin-left: 500px;
    color: white;
    font-weight: bold;
}

.center {
    text-align: center;
}
.bigger{
    font-size: 18px;
    
}
.about {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.service {
    position: absolute;
    margin-top: 160px;
    color: white;
    margin-left: 400px;
    font-weight: bold;
}

.what-we-do {
    margin-top: 50px;
    text-align: center;
}

.design {
    position: absolute;
    margin-left: 400px;
    margin-top: 170px;

}

.develop {
    position: absolute;
    margin-left: 750px;
    margin-top: 170px;
}

.product-management {
    position: absolute;
    margin-left: 1100px;
    margin-top: 170px;
}

.testing {
    position: absolute;
    text-align: center;
    font-size: 12px;
    margin-left: 100px;
    margin-top: 70px;
    display: none;

}

.testing-2 {
    position: absolute;
    margin-left: 600px;
    font-size: 12px;
    margin-top: 70px;
    display: none;
    text-align: center;

}

.testing-3 {
    position: absolute;
    margin-left: 1100px;
    font-size: 12px;
    margin-top: 70px;
    display: none;
    text-align: center;


}

.design-icon {
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    margin-top: 50px;
    margin-left: 400px;

}

.development-icon {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 760px;
    margin-right: 50px;
    position: absolute;

}

.product-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 1160px;
    margin-top: 50px;

}

.portfolio {
    margin-top: 250px;
    font-size: 22px;
    margin-bottom: 30px;
}

.portfolio-container {
    border: 2px;
    padding: 3px;
    display: flex;
}

.portfolio-container2 {
    border: 2px;
    padding: 3px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;


}
.work4{

    margin-left:350px;
    margin-right:50px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    
}
.work3{
    width:200px;
    height:200px;
}
.work2{

    margin-right:50px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
}
.work1{
     margin-right:50px;
     width:200px;
     height:200px;
}
.work5{

    margin-left:350px;
    margin-right:50px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.work6{
    width:200px;
    height:200px;
}
.work7{

    margin-right:50px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
}
.work8{
    margin-right:50px;
    width:200px;
    height:200px;
}
.goodlife{
    position:absolute;
    margin-top: 100px;
    margin-left:300px;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    font-weight:bold;
    display:none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}


.sunshine{
    position: absolute;
    margin-left:800px;
    margin-top:100px;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    text-align: center;
    font-weight: bold;
    display:none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}
.baywatch{
    position:absolute;
    margin-left:1060px;
    margin-top:100px;
    font-weight: bold;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    display: none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}
.ontario{
    position: absolute;
    margin-top: 100px;
    margin-left:550px;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    font-weight: bold;
    display:none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);

}

.tranquil{
    position:absolute;
    margin-top: 100px;
    margin-left:300px;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    font-weight:bold;
    display:none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}

.icecream{
    position: absolute;
    margin-top: 100px;
    margin-left:560px;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    font-weight: bold;
    display:none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);

}
.coffee{
    position: absolute;
    margin-left:810px;
    margin-top:100px;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    text-align: center;
    font-weight: bold;
    display:none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}
.burgers{
    position:absolute;
    margin-left:1060px;
    margin-top:100px;
    font-weight: bold;
    border:2px;
    background-color: white;
    height: 140px;
    width:150px;
    display: none;
    transform: translate(50%,-50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}
.contact{
    position:absolute;
    margin-top:20px;
    color:white;
    margin-left:500px;
    font-weight: bold;
}
.name{
    background: none;
    border:2px solid white;
    width:350px;
    margin-right:20px;
    margin-top: 100px;
    height: 20px;
        
}
.email{
    background: none;
    border:2px solid white;
    width:350px;
    height: 20px;
        
}
::placeholder{
    color: white;
    font-weight: bold;
    text-align: left;
}
.message{
    background: none;
    border:2px solid white;
    height: 200px;
    width:700px;
    margin-bottom: 100px;
}
.twitter{
    height:50px;
   width:50px;
   margin-top:50px;
   margin-left: 550px;
   margin-right: 20px;
}
.dribble{

   height:50px;
   width:50px;
   margin-top:50px;
   margin-right:20px;
}
.facebook{
   height:50px;
   width:50px;
   margin-top:50px;
   margin-right:20px;
}
.plus{
   height:50px;
  width:50px;
  margin-top:50px;
  margin-right:20px;
}
.skype{

  height:50px;
  width:50px;
  margin-top:50px;
  margin-right:20px;
}
.stumble{
  height:50px;
  width:50px;
  margin-top:50px;
  margin-right:20px;
}
.behance{
   height:50px;
  width:50px;
  margin-top:50px;
  margin-right:20px;
}
.pinterest{

  height:50px;
  width:50px;
  margin-top:50px;
  margin-right:20px;
}
.flickr{
  height:50px;
  width:50px;
  margin-top:50px;

}
.socials{
   display: flex;
}
html{overflow-x:hidden;
    
}
.logo{
    margin-top:40px;
    margin-bottom: 35px;
}
.welcome{
    margin-bottom: 35px;
    font-size: 45px;
}
.studio{
    margin-bottom: 20px;
    font-size: 48px;
}
.mouse{
    margin-top:290px;
}
.about-us{
 margin-bottom: 30px;
 font-size: 27px;
}
.service-heading{
    font-size: 28px;
    margin-bottom: 20px;
}
.footer{
    margin-top: 20px;
}